<header class="container-fluid page_header fake-header hidden-print"><div class="row"><div class="col-sm-12"><div class="pull-left logo"><a href="/"><img src="/images/aac_logo.png"></a></div><h1>AAC Mapping Validator</h1><h2>
=@metadata["title"]
</h2></div></div></header>

.container-fluid
  .row
    .col-md-5.col-md-offset-1

      .markdown-body.cookbook_content
        = @markdown.render(@contents)
      .footer.hidden-print
        %a.btn.btn-primary{href: "https://github.com/workergnome/aac_mappings/edit/master/data/cookbook/#{@path}.md"}
          Edit this page
    .col-md-4.col-md-offset-1.hidden-print
      %h4 Linked Open Data FAQs

      %div.list-group.cookbook_index
        - current_category = ""
        - @recipies.each do |key, obj|
          - cat = obj[:metadata]["category"]
          -if current_category != cat
            %h4.list-group-item= cat
            -current_category = cat
          .list-group-item{ class: "#{obj[:path] == @page ? "active" : ""} #{obj[:metadata]["classes"]}"}
            %a{href: "/cookbook/#{obj[:path]}"}
              = obj[:metadata]["title"]
            .badge_holder.clearfix
              .badge= "Priority #{ obj[:metadata]["priority"]}"
              - if obj[:metadata]["answered"]
                .badge ✔ Best Practice Established 
              .badge.pull-right= "Fix Me" if obj[:metadata]["todo"]
