%main
  <header class="container-fluid page_header fake-header hidden-print"><div class="row"><div class="col-sm-12"><div class="pull-left logo"><a href="/"><img src="/images/aac_logo.png"></a></div><h1>AAC Mapping Validator</h1></div></div></header>
  .container-fluid
    .row
      .col-lg-5.col-lg-offset-1  
        %h3 AAC Browse Application Testbed

        %p
          This page contains reference material for the AAC Mappings for the browse application. These mappings reflect outputs, not inputs; they are not the same as the mappings that ISI is doing—those are mappings from institutional data to RDF, using the CIDOC-CRM ontology.

        %p
          These mappings are for the RDF to be queried from the triplestore to external application (the browse application, but also others). We need to verify that the information that was put into the triplestore is retrievable in a consistent, regular fashion. Below are mapping for the fields of each of our core entities. On each field’s display page is a link to comment on questions, discrepancies or modeling considerations.

        %h4 Field-Level Mappings
        %div.list-group
          - @available_types.each do |key, val|
            %a.list-group-item{href: "/entity/#{key}"}
              %span.badge="#{val.count} fields"
              = "<strong>#{key}</strong>"


        %p
          The series of questions on this page capture discussions for common questions about LOD and our AAC mappings. When possible, we record our consensus of AAC 'good practices’. The questions are tagged with Priorities, which are:
        %ul
          %li <b>Priority 1</b> — Must-have for the data to be modeled and queried.
          
          %li <b>Priority 2</b> — Decisions that will impact the ISI team’s mappings of the original data into RDF, so should be addressed in a timely manner to avoid rework.
          
          %li <b>Priority 3</b> — Affect the browse app and other applications that use data from the triplestore. The browse app anticipates creating query patterns that are entity-focused and can be represented as JSON for easy use by applications. The Priority 3 items will need decisions for active browse app development this autumn, and may require some discussion at the Oct 2016 partner meeting.
          
          %li <b>Priority 4</b> — Probably not in scope for the current mapping effort or browse app, but should be considered for inclusion in good practices documentation.

      .col-lg-4.col-lg-offset-1 

        %h4 Linked Open Data FAQs
        .list-group.cookbook_index
          - current_category = ""
          - @recipies.each do |key, obj|
            - cat = obj[:metadata]["category"]
            -if current_category != cat
              %h4.list-group-item= cat
              -current_category = cat
            .list-group-item{ class: "#{obj[:path] == @page ? "active" : ""} #{obj[:metadata]["classes"]}"}
              %a{href: "/cookbook/#{obj[:path]}"}
                = obj[:metadata]["title"]
              .badge_holder.clearfix
                .badge= "Priority #{ obj[:metadata]["priority"]}"
                - if obj[:metadata]["answered"]
                  .badge ✔ Best Practice Established 
                .badge.pull-right= "Fix Me" if obj[:metadata]["todo"]
